POSTGRES_DB=creatio_scanner
POSTGRES_USER=creatio_user
POSTGRES_PASSWORD=change-this-db-password

SCANNER_PORT=8080

# Absolute host path to the Creatio source directory.
# Windows example: C:/Development/Creatio/Terrasoft.Configuration/Pkg
# Linux example: /srv/creatio/Terrasoft.Configuration/Pkg
CREATIO_SOURCE_PATH=C:/CreatioSource

